.plan {
    width: 50vw;
    height: 20vw;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
}

#rdc {
    background-image: url("images/rdc.jpg");
}

#premier {
    background-image: url("images/premier.jpg");
}

.bleu {
    width: 10%;
    height: 51%;
    position: absolute;
    background-color: blue;
    top: 38%;
    left: 22%;
}


.bleu:hover {
    opacity: 0.2;
}

.rose {
    width: 40%;
    height: 50%;
    position: absolute;
    background-color: pink;
    top: 38%;
    left: 43%;
}

.rose:hover {
    opacity: 0.5;
}

.vert {
    width: 78%;
    height: 26%;
    position: absolute;
    background-color: green;
    top: 11%;
    left: 11%;
}

.vert:hover {
    opacity: 0.2;
}

.jaune {
    width: 68%;
    height: 78%;
    position: absolute;
    background-color: yellow;
    top: 12%;
    left: 21%;
}

.jaune:hover {
    opacity: 0.2;
}

.plan div {
    opacity: 0;
    transition: all 0.5s;
}